<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ccbda324-7cb5-43d9-83dd-3ef0d9466cda/resourcegroups/DotnetUsageAPIRG/providers/Microsoft.Web/sites/DotnetUsageAPI</ResourceId>
    <ResourceGroup>DotnetUsageAPIRG</ResourceGroup>
    <ApiResourceId>/subscriptions/ccbda324-7cb5-43d9-83dd-3ef0d9466cda/resourceGroups/DotnetUsageAPIRG/providers/Microsoft.ApiManagement/service/DotnetUsageAPI/apis/azureclientrestapi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dotnetusageapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>152ebc67-df50-4907-8bae-ed31c078888a</ProjectGuid>
    <MSDeployServiceURL>dotnetusageapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DotnetUsageAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DotnetUsageAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>